<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="5 minutes">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread]: %c - %m%n%xEx</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
